<div id="<%= dom_id expedient %>">
  <p>
    <strong>Nombre solicitante:</strong>
    <%= expedient.nombre_solicitante %>
  </p>

  <p>
    <strong>Apellido solicitante:</strong>
    <%= expedient.apellido_solicitante %>
  </p>

  <p>
    <strong>Tipo persona:</strong>
    <%= expedient.tipo_persona %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= expedient.edad %>
  </p>

  <p>
    <strong>Expediente status:</strong>
    <%= expedient.expediente_status_id %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= expedient.fecha_nacimiento %>
  </p>

  <p>
    <strong>Tipo solicitud:</strong>
    <%= expedient.tipo_solicitud_id %>
  </p>

  <p>
    <strong>Cantidad solicitada:</strong>
    <%= expedient.cantidad_solicitada %>
  </p>

  <p>
    <strong>Identificador unico:</strong>
    <%= expedient.identificador_unico %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= expedient.email %>
  </p>

</div>
