<p style="color: green"><%= notice %></p>

<%= render @expedient %>

<div>
  <%= link_to "Edit this expedient", edit_expedient_path(@expedient) %> |
  <%= link_to "Back to expedients", expedients_path %>

  <%= button_to "Destroy this expedient", @expedient, method: :delete %>
</div>
